+b('footer').footer
    .b-container
        +e('').wrap
            +e('').left
                +b('span').copyright © 2009–2014 Гостиничный комплекс «Фальварак». Отдых в Белоруссии на Браславских озёрах.<br/>Все права защищены.
            +e('').middle
                +b('a')(href="#").footer-logo
            +e('').right
                +b('a')(href="http://swdpower.com").swd
                    +e('img')(src="img/dev.png").img

