@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff"); }

html {
  box-sizing: border-box; }

figure {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

a, label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; }

*:focus {
  outline: none; }

.clearfix:after {
  content: "";
  display: table; }

.ulli, .filter__list-check, .pagination__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

body {
  min-width: 320px;
  background-color: #f5f6f7;
  font: 14px "RobotoRegular", "Arial", sans-serif;
  color: #999;
  line-height: 1.4; }

.hidden {
  display: none; }

a {
  color: #666;
  transition: all 0.3s ease;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #333; }

b, strong {
  font-family: "RobotoBold", "Arial", sans-serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "RobotoBold", "Arial", sans-serif; }

.header, .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.header {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px;
  background-color: #f5f6f7; }
  .header__inner {
    margin: 0 auto;
    max-width: 1400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px; }
  .header--sticky {
    transition: all 0.3s ease;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  .header__wrap-logo {
    width: 190px; }
  .header__toolbar {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px; }
  .header__control-btn {
    display: none;
    padding: 10px;
    margin-left: 10px; }

.shape-close--hide {
  display: none; }

.logo__link {
  display: block;
  width: 118px; }

.post-article__icon {
  vertical-align: middle;
  display: none; }

.main {
  padding-top: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .main__sidebar {
    -webkit-flex: 0 0 210px;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
    width: 210px;
    padding-right: 10px;
    padding-bottom: 20px; }
  .main__content {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px; }

.filter__item {
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #dcdcdd; }
  .filter__item:last-child {
    border-bottom: 0; }

.filter__title {
  margin: 0;
  padding-bottom: 15px; }

.filter__wrap-controll {
  border: 1px solid #dcdcdd;
  border-radius: 2px;
  transition: all 0.3s ease; }
  .filter__wrap-controll:hover {
    border-color: #ababac; }

.filter__controll {
  padding: 9px 11px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  color: #999; }
  .filter__controll:hover {
    color: #666;
    cursor: pointer; }

.filter__item-check {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.filter__checkbox {
  opacity: 0; }
  .filter__checkbox:checked ~ .shape-check {
    display: inline-block; }
  .filter__checkbox:checked + .filter__label::before {
    border: 1px solid #5b5b5b;
    background: #666666; }

.filter__checkbox, .filter .filter__label::before {
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  position: absolute;
  cursor: pointer; }

.filter__label {
  padding: 5px 0;
  padding-left: 30px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .filter__label:hover {
    color: #333; }
    .filter__label:hover:before {
      border-color: #ababac; }
  .filter__label::before {
    content: '';
    border: 1px solid #dcdcdd;
    border-radius: 3px;
    background: transparent;
    transition: all 0.3s ease; }

.shape-check {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 0px;
  pointer-events: none;
  fill: #fff;
  display: none; }

.catalog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -20px;
  padding-bottom: 20px; }
  .catalog__item {
    -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    width: 33.33333%; }

.card {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  margin: 0 0 20px 20px; }
  .card:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: -3px;
    margin-bottom: 23px; }
  .card__link {
    display: block;
    transition: none; }
    .card__link:hover .card__discription {
      color: #999; }
  .card__group {
    position: relative;
    display: block;
    margin: 0; }
  .card__img {
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0; }
  .card__price {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font: 20px "RobotoBold", "Arial", sans-serif;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .card__head-group {
    padding: 10px; }
  .card__title {
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden;
    line-height: 1.4;
    font: 14px "RobotoRegular", "Arial", sans-serif;
    white-space: nowrap; }
    .card__title::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.3), #fff 100%); }
  .card__discription {
    position: relative;
    color: #999;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden; }
    .card__discription::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.3), #fff 100%); }
  .card__option {
    padding-left: 6px; }
    .card__option:first-child {
      padding-left: 0; }

.pagination__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.pagination__item a {
  display: block;
  width: 46px;
  height: 40px;
  text-align: center;
  line-height: 40px; }

.pagination__item--active {
  border: 1px solid #dcdcdd;
  border-radius: 2px; }
  .pagination__item--active a {
    color: #999; }

.footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 15px 20px; }
  .footer__group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px; }
  .footer__option a {
    display: inline-block;
    margin-right: 20px; }

.copyright {
  width: 190px; }

.substrate {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(230, 230, 230, 0.8);
  z-index: 98; }
  .substrate-visible {
    display: block; }

.svg-box {
  display: none; }

.shape-logo {
  display: block;
  width: 118px;
  height: 19px; }

.shape-add {
  width: 20px;
  height: 20px; }

.shape-filter {
  width: 20px;
  height: 20px; }

.shape-check {
  width: 20px;
  height: 20px; }

.shape-close {
  width: 20px;
  height: 20px; }

.shape-phone {
  width: 20px;
  height: 20px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 1100px) {
  .catalog__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%; }
  .card:hover {
    margin-top: 0;
    margin-bottom: 20px; } }

@media only screen and (max-width: 750px) {
  .post-article {
    padding: 10px; }
    .post-article__text {
      display: none; }
    .post-article__icon {
      display: block; }
  .catalog__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%; } }

@media only screen and (max-width: 570px) {
  .card {
    margin: 0 0 10px; }
    .card:hover {
      margin-bottom: 10px; }
  .header__inner {
    height: 50px; }
  .header__articles-found {
    display: none; }
  .header__toolbar {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__control-btn {
    display: block; }
  .control-btn__icon {
    cursor: pointer;
    vertical-align: middle; }
  .main {
    position: relative;
    display: block; }
    .main__sidebar {
      position: fixed;
      overflow-y: scroll;
      padding-top: 50px;
      display: block;
      width: 230px;
      height: 100%;
      top: 0;
      right: -100%;
      background: #fff;
      transition: right 0.4s;
      z-index: 99;
      box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
      padding-right: 0; }
    .main__content {
      padding: 0 10px 10px; }
  .filter__item {
    padding-bottom: 20px;
    border-bottom: transparent; }
  .filter__title {
    border-bottom: 1px solid #dcdcdd;
    margin-left: -20px;
    padding-left: 20px; }
  .filter__wrap-controll {
    border: 0;
    border-bottom: 1px solid #dcdcdd;
    padding-right: 20px; }
    .filter__wrap-controll:hover {
      color: #999;
      border-color: #dcdcdd; }
  .filter__controll:hover {
    color: #999; }
  .filter__item-check {
    border-bottom: 1px solid #dcdcdd; }
  .filter__label {
    padding: 10px 0;
    width: 100%; }
    .filter__label:hover {
      color: inherit; }
    .filter__label::before {
      border: 0;
      background: transparent; }
  .filter__checkbox:checked + .filter__label {
    font-family: "RobotoBold", "Arial", sans-serif;
    color: #666; }
  .filter__checkbox:checked + .filter__label::before {
    border: transparent;
    background: transparent; }
  .filter__checkbox, .filter .filter__label::before {
    left: auto;
    right: 20px; }
  .shape-check {
    left: auto;
    right: 20px;
    fill: #666; }
  .mob-menu {
    overflow: hidden;
    position: fixed; }
    .mob-menu body {
      overflow: hidden;
      position: fixed; }
    .mob-menu .main__sidebar {
      right: 0; }
    .mob-menu .substrate {
      display: block; }
    .mob-menu .header {
      transition: all 0.3s ease;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
    .mob-menu .shape-filter {
      display: none; }
    .mob-menu .shape-close {
      display: block; }
    .mob-menu .post-article {
      display: none; }
  .catalog {
    margin-left: 0; }
  .card {
    margin: 0 0 10px; }
  .pagination__list {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 20px; }
    .footer__group {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 0;
      text-align: center; }
    .footer__option a {
      margin-right: 0;
      padding-bottom: 5px;
      display: block; }
  .copyright {
    width: auto;
    padding-bottom: 5px; } }

@media only screen and (min-width: 220px) {
  .header {
    z-index: 201; }
  .popup {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    min-width: 100%;
    height: 100%;
    display: none;
    z-index: 200;
    background: rgba(230, 230, 230, 0.8);
    line-height: 22px;
    color: #666; }
    .popup--show {
      display: block; }
    .popup__inner {
      position: relative;
      width: 100%;
      margin-top: 50px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      background: #fff;
      border-radius: 3px; }
    .popup__img {
      display: block;
      width: 100%;
      height: 100%; }
    .popup__content {
      padding: 20px; }
    .popup__item {
      padding: 15px 0;
      border-bottom: 1px solid #e6e6e6; }
      .popup__item:first-child {
        padding-top: 0; }
      .popup__item:last-child {
        border-bottom: 0;
        padding-bottom: 0; }
    .popup__shape-close {
      display: none;
      position: absolute;
      top: -40px;
      right: 0;
      cursor: pointer; }
  .main-param__title {
    margin: 0;
    padding-bottom: 10px;
    font-family: "RobotoBold", "Arial", sans-serif;
    font-size: 20px;
    color: #666; }
  .main-param__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-param__price {
    font: 20px "RobotoBold", "Arial", sans-serif;
    padding: 5px 0;
    color: #666; }
  .option-param__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .option-param__item--none {
    color: #afafaf;
    text-decoration: line-through; }
  .popup-discription p {
    margin: 0; }
  .p-phone {
    position: relative; }
    .p-phone__number {
      font: 20px "RobotoBold", "Arial", sans-serif;
      vertical-align: middle;
      color: #666; }
    .p-phone__icon {
      vertical-align: middle;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px; }
  .mob-popap {
    overflow: hidden; }
    .mob-popap body {
      overflow: hidden; }
    .mob-popap .post-article__icon {
      display: none; }
    .mob-popap .control-btn__icon {
      display: none; }
    .mob-popap .shape-close--hide {
      display: block; }
    .mob-popap .header {
      transition: all 0.3s ease;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
    .mob-popap .control-btn {
      display: block; }
    .mob-popap .header__articles-found {
      display: none; } }

@media only screen and (min-width: 750px) {
  .header {
    z-index: 190; }
  .popup__inner {
    width: 700px;
    margin: 50px auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  .popup__img {
    display: block;
    border-radius: 3px 3px 0 0; }
  .popup__shape-close {
    display: block; }
  .popup__content {
    overflow: hidden; }
  .popup__item {
    border-bottom: 0; }
    .popup__item:first-child {
      padding-top: 10px; }
  .main-param {
    float: left;
    width: 230px; }
  .option-param {
    float: right;
    width: 430px;
    padding-top: 10px;
    border-left: 1px solid #dcdcdd;
    padding-left: 20px; }
    .option-param__list {
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2;
      -webkit-column-gap: 50px;
         -moz-column-gap: 50px;
              column-gap: 50px; }
  .popup-discription {
    float: right;
    width: 430px;
    padding-left: 20px;
    border-left: 1px solid #dcdcdd; }
  .p-phone {
    width: 230px;
    float: left;
    padding-bottom: 0;
    padding-top: 7px;
    font-size: 14px; }
    .p-phone__number {
      font: 14px "RobotoRegular", "Arial", sans-serif;
      color: #666; }
    .p-phone__icon {
      display: none; }
  .p-name {
    width: 230px;
    float: left;
    padding-top: 0; }
  .mob-popap .post-article__icon {
    display: block; }
  .mob-popap .control-btn__icon {
    display: none; }
  .mob-popap .shape-close--hide {
    display: block; }
  .mob-popap .shape-add {
    display: none; }
  .mob-popap .header {
    transition: all 0.3s ease;
    box-shadow: 0 0 0 0; }
  .mob-popap .control-btn {
    display: none; }
  .mob-popap .header__articles-found {
    display: block; } }

@media only screen and (min-width: 900px) {
  .popup__shape-close {
    position: absolute;
    top: 0;
    right: -40px;
    cursor: pointe; } }
