include helpers/bemto
include helpers/variables
include helpers/mixins


doctype html
html
  head
    title Recently Completed Projects
    include inc/head.html
  body
    include partials/header
    main
      h1 Recently Completed Projects
      table
        thead
          tr
            th Job title
            th Location
            th Salary
            th Completed
            th Total Cost
            th Recruiter
        tbody
          tr
            td Head of Sales
            td Los Angeles, California
            td $100 000
            td ok
            td $1,080
            td Chris Abate Chris Abate
          tr
            td Head of Sales
            td Los Angeles, California
            td $100 000
            td ok
            td $1,080
            td Chris Abate Chris Abate
          tr
            td Head of Sales
            td Los Angeles, California
            td $100 000
            td ok
            td $1,080
            td Chris Abate Chris Abate

    include partials/footer 
 
    include inc/svg-sprite.html

    include inc/vendor-scripts.html