@import "fonts"
@import "bourbon"
@import "variables"

html 
  box-sizing: border-box

figure
  margin: 0

*, *:before, *:after 
  box-sizing: inherit

*
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
  outline: none !important
*:focus
  outline: none


.clearfix:after
  content: ""
  display: table
  clear:both

.ulli 
  margin: 0
  padding: 0
  list-style: none
.wrap
  max-width: $max-width
  margin: 0 auto
  display: flex
  flex-direction: column
  height: 100vh
body
  min-width: 320px
  // max-width: $max-width
  // margin: 0 auto
  
  background-color: $color-main-bg
  font: $font-size-root $font-root
  color: $font-color-root
  line-height: 1.4
.hidden
  display: none
a
  color: $links-color
  transition: $transition
  text-decoration: none
a:hover
  text-decoration: none
  color: $color-hover

b, strong
  font-family: $font-root-bold
  font-weight: normal

h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-family: $font-root-bold


// -----------------------------------------------
//   [Header]
// -----------------------------------------------
.header, .footer
  flex-shrink: 0
.header
  margin: 0 auto
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  padding: 0 20px
  background-color: $color-main-bg
  &__inner
    margin: 0 auto
    max-width: $max-width
    display: flex
    align-items: center
    height: 60px
  &--sticky
    transition: $transition
    box-shadow: 0 1px 5px rgba(0,0,0, .2)
  &__wrap-logo
    width: 190px
  &__toolbar
    flex: 1
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 20px
  &__control-btn
    display: none
    padding: 10px
    margin-left: 10px
.shape-close
  &--hide
    display: none

.logo
  &__link
    display: block
    width: 118px
.post-article
  &__text
  &__icon
    vertical-align: middle
    display: none

// -----------------------------------------------
//   [Main]
// -----------------------------------------------
.main
  padding-top: 60px
  display: flex
  flex: 1 0 auto
  &__sidebar
    flex: 0 0 210px
    width: 210px
    padding-right: 10px
    padding-bottom: 20px
  &__content
    flex: 1
    padding: 20px
    min-width: 0
.filter
  &__item
    padding: 20px 0 20px 20px
    border-bottom: 1px solid #dcdcdd
    &:last-child
      border-bottom: 0
  &__title
    margin: 0
    padding-bottom: 15px
  &__wrap-controll
    margin-top: -1px
    position: relative
    &:hover
      .filter__prefix
        color: $links-color
        transition: $transition
      .styledSelect
        color: $links-color
        cursor: pointer
        border-color: #ababac
        z-index: 10
  &__prefix
    position: absolute
    top: 0
    left: 14px
    line-height: 38px
    &:hover
      border-color: #ababac
  &__list-check
    @extend .ulli
  &__item-check
    display: flex
    align-items: center
    position: relative
  &__checkbox
    opacity: 0
    &:checked ~ .shape-check
      display: inline-block
    &:checked + .filter__label::before
      border: 1px solid #5b5b5b
      background: #666666
  &__checkbox, .filter__label::before
    width: 20px
    height: 20px
    top: 50%
    left: 0
    margin-top: -10px
    position: absolute
    cursor: pointer
  &__label
    padding: 5px 0
    padding-left: 30px
    cursor: pointer
    transition: $transition
    &:hover
      color: #333
      &:before
        border-color: #ababac
    &::before
      content: ''
      border: 1px solid #dcdcdd
      border-radius: 3px
      background: transparent
      transition: $transition
.shape-check
  position: absolute
  width: 20px
  height: 20px
  top: 50%
  margin-top: -10px
  left: 0px
  pointer-events: none
  fill: #fff
  display: none

// --------------------
//   [Main-content]
// --------------------
.catalog
  display: flex
  flex-wrap: wrap
  margin-left: -20px
  padding-bottom: 20px
  &__item
    // flex: 0 1 (100%/3)
    width: (100%/3)
.card
  border-radius: 3px
  background: #fff
  box-shadow: 0px 1px 5px rgba(0,0,0, .1)
  transition: all 0.2s ease
  margin: 0 0 20px 20px
  &:hover
    box-shadow: 0px 3px 5px rgba(0,0,0, .2)
    margin-top: -3px
    margin-bottom: 23px
  &__link
    display: block
    transition: none
    &:hover .card__discription
      color: #999
  &__group
    position: relative
    display: block
    margin: 0
  &__img
    display: block
    width: 100%
    border-radius: 3px 3px 0 0
  &__price
    position: absolute
    bottom: 7px
    left: 10px
    font: 20px $font-root-bold
    color: #fff
    text-shadow: 0 1px 2px rgba(0,0,0, .5)
  &__head-group
    padding: 10px
    position: relative

  &__title
    position: relative
    margin: 0
    overflow: hidden
    line-height: 1.4
    font: $font-size-root $font-root
    white-space: nowrap
    &::after
      content: ''
      position: absolute
      right: 0
      top: 0
      width: 40px
      height: 100%
      background: linear-gradient(to right, rgba(255,255,255, 0.3), #fff 100%)
  &__discription
    position: relative
    color: #999
    line-height: 1.4
    white-space: nowrap
    overflow: hidden
    &::after
      content: ''
      position: absolute
      right: 0
      top: 0
      width: 40px
      height: 100%
      background: linear-gradient(to right, rgba(255,255,255, 0.3), #fff 100%)
  &__option
    padding-left: 6px
    &:first-child
      padding-left: 0


.pagination
  &__list
    @extend .ulli
    display: flex
    flex-wrap: wrap
  &__item
    a
      display: block
      width: 46px
      height: 40px
      text-align: center
      line-height: 40px
  &__item--active
    border: 1px solid #dcdcdd
    border-radius: 2px
    a
      color: #999
// -----------------------------------------------
//   [Footer]
// -----------------------------------------------

.footer
  display: flex
  margin-top: 40px
  padding: 15px 20px
  &__group
    display: flex
    flex: 1
    justify-content: space-between
    padding-left: 20px
  &__option
    a
      display: inline-block
      margin-right: 20px
      &:last-child
        // margin-right: 0
.copyright
  width: 190px

// --------------------
//   Overlay for nav
// --------------------
.substrate
  display: none
  position: fixed
  top: 0
  height: 100%
  width: 100%
  background: rgba(230, 230, 230, 0.8)
  z-index: 98
  &-visible
    display: block

// @keyframes bounce
//   0%
//     transform: translateY(-2000px)
//   100%
//     transform: translateY(0)

// --------------------
//   SVG
// --------------------
.svg-box
  display: none
.shape-logo
  display: block
  width: 118px
  height: 19px
.shape-add
  width: 20px
  height: 20px
.shape-filter
  width: 20px
  height: 20px
.shape-check
  width: 20px
  height: 20px
.shape-close
  width: 20px
  height: 20px
.shape-phone
  width: 20px
  height: 20px

// --------------------
//   select
// --------------------

.s-hidden
  visibility: hidden
  padding-right: 10px

.select
  width: 100%
  cursor: pointer
  display: inline-block
  position: relative
  font: 14px $font-root
  line-height: 38px
  // height: 21px
  color: $font-color-root

.styledSelect
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: transparent
  padding: 0 34px
  transition: $transition
  border: 1px solid #dcdcdd
  border-radius: 2px
  &:hover
    z-index: 10
    border-color: #ababac

  &:after
    content: " $"
  &:before
    content: " "
    width: 20px
    height: 20px
    background: url(../img/down.svg) no-repeat
    position: absolute
    top: 7px
    right: 9px

.options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  margin: 0 0
  padding: 0 0
  list-style: none
  border: 1px solid #dcdcdd
  border-top: 0
  background-color: white
  z-index: 20
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
  border-radius: 0 0 4px 4px
  li
    padding: 0 6px
    padding-left: 35px
    margin: 0 0
    &:hover
      background-color: #F5F6F7
      color: $links-color
    &:hover:last-child
      border-radius: 0 0 4px 4px



@import "media"